{{ if .Site.Params.enableSearch | default true }}
<div class="search">
  <label for="find" class="search_label">
    {{- partial "sprite" (dict "icon" "search") }}
  </label>
  {{ $placeholder := T "search_field_placeholder" (dict "section" .Section) }}
  {{ if .Section }}
  {{ else }}
    {{ $placeholder =  printf "%s%s" $placeholder (T "site") }}
  {{ end }}
  <input type="search" class="search_field" placeholder='{{ $placeholder }}' id="find" autocomplete="off"  data-scope='{{ .Section }}'>
  {{- if ne .Params.searchPage true }}
  <div class="search_results results"></div>
  {{- end }}
</div>
{{ end }}

