
{{ if in .Content "mermaid" }}
<script defer src={{  absURL "js/mermaid.min.js"  }}></script>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    mermaid.initialize({
      flowchart: { useMaxWidth: true }
    });
  });
</script>
{{ end }}